.todo-list-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;

}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px;  
  width: 320px;
  color: #000;
}

.todo-input::placeholder {
  color: #000;
}

.todo-button {
  padding: 16px;
  border-radius: 0 4px 4px 0;
  background:rgba(255, 84, 17, 1);
  color: #fff;
}
.deleteButton {
  color: #fff;
}

.editButton {
  color: #fff;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background:rgba(255, 84, 17, 1);
  padding: 5px;
  width: 90%;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}


